@import url(vendors/normalize.css);
@import url(vendors/bootstrap-reboot.css);
@import url(vendors/bootstrap.min.css);
@import url(vendors/bootstrap.min.css.map);

:root {
  --color-back-page: #FFFFFF;
  --color-primary: #7E7CEF;
  --color-text: #454545;
  --color-dark-purpl: #7B59C3;

}

body {
  background-color: var(--color-var-back-page);
  font-family: 'Inter', 'sans-serif';
  margin: 0;
  padding: 0;
  border: 0;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

a {
  color: var(--color-var-text)
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 30px;
  line-height: 1.1;
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
  line-height: 1.1;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  line-height: 1.1;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
}

h5 {
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.span {
  color: var(--color-primary);
}

.button {
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 14px;
  text-transform: uppercase;
  border: 0;
  color: white;
  align-items: center;
}

.btn-light {
  background-color: white;
  color: var(--color-primary);
}

.text-m {
  font-size: 14px;
}

.text-s {
  font-size: 12px;
}

.bg-card-light {
  background-color: #EFE9FE;
}

.bg-card-normal {
  background-color: #DBCEFF;
}

.bg-card-dark {
  background-color: #7B59C3;
}

.img-wrapper {
  position: relative;
}

.img-shadow {
  position: absolute;
  bottom: 20px; 
  transform: translateX(50%); 
  width: 100%; 
  height: 100%; 
  border-radius: 50%; 
  background-color: #AE8DFF;
  filter: blur(180px);
  z-index: -1;
}

.card {
  display: flex;
  position: relative;
  border: 0;
  border-radius: 10px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.card-small {
  display: flex;
  position: relative;
  border: 0;
  border-radius: 10px;
  padding: 20px;
  height: 200px;
}

.card-img {
  max-width: 80px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card-small-img {
  max-width: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-info {
  max-width: 450px;
}

.info-title {
  padding: 15px 15px;
  border-radius: 100px;
  background-color: #E1E4FE;
  text-align: center;
}

.card-advanted {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  margin-top: auto;
}

.text-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: white;
  padding: 35px 25px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  height: 120px;
}

.card-num {
  font-size: 30px;
  font-weight: 700;
}

.content-start-way {
  border-radius: 10px;
  background-color: var(--color-dark-purpl);
  background-image: url('/assets/img/img-back-way.png');
  object-fit: cover;
  color: white; 
  text-align: center;
  padding-top: 80px;
  padding-bottom: 30px;
  padding-left: 120px;
  padding-right: 120px;
}

.content-start-title {
  margin: 0 auto;
  line-height: 27px;
}

.contact-content {
  background-color: var(--color-dark-purpl);
  color: white;
  border-radius: 10px;
  padding: 40px;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

/* Стили для инпутов */
.form-control {
  border: none;
  border-bottom: 1px solid #ccc; /* Добавление только нижнего бордера */
  outline: none; /* Убираем контур при фокусе */
  transition: border-color 0.3s ease-in-out; /* Плавное изменение цвета бордера */
  border-radius: 0;
}

/* Стили для активного состояния инпутов */
.form-control:focus {
  border-color: var(--color-primary); /* Изменение цвета бордера при фокусе */
}

/* Стили для label и placeholder */
.input-label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

/* Стили для placeholder */
.form-control::placeholder {
  color: #999; /* Цвет placeholder */
}


.footer-container {
  padding-top: 25px;
  padding-bottom: 15px;
  border-top: 1px solid #B9B9B9;
}

.footer-list-bank {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer-doc {
  gap: 20px;
}

.footer-author {
  padding: 0;
}

.footer-title-list {
  text-transform: uppercase;
}

@media (max-width: 1024px) {

  .footer-doc {
    display: flex !important;
    flex-direction: column !important;
    gap: 5px;
  }

}